/*Global Styles*/
body {
	background-image: url("img/bg-mobile.svg");
	background-color: var(--content-primary);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	font-family: var(--main-font);
}

.wrapper {
	max-width: 550px;
	width: 100%;
	min-height: calc(100vh - 200px);
	display: flex;
	align-items: center;
	margin: 0 auto;
	padding: 40px;
}

header, footer {
	height: 100px;
	max-width: 550px;
	padding: 40px;
}


/*Font Styles*/
h1 {
	font-size: 2.5rem;
	font-weight: 600;
	color: var(--text-primary);
}

.content__box p {
	font-size: 1rem;
	font-weight: 400;
	color: var(--text-primary);
	padding: 20px 0px;
}


/*Header Section*/
header img {
	width: 35vw;
	max-width: 200px;
}


/*Landing-page Section*/
.content__box {
	text-align: center;
}

.content__box img {
	width: 100%;
}

.button a {
	display: block;
	width: 75%;
	margin: 0 auto;
	padding: 10px 0px;
	font-family: var(--button-font);
	font-weight: 400;
	color: var(--content-primary);
	background-color: var(--text-primary);
	border-radius: 20px;
}

/*Footer Section*/
footer {
	margin: 0 auto;	
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.fa-brands, .fa-solid {
	text-align: center;
	border-radius: 90px;
	border: 1px solid var(--text-primary);
	color: var(--text-primary);
	padding: 5px;
	margin: 0px 5px;
	font-size: 0.7rem;
	width: 25px;
	height: 25px;
}


/*Media Queries*/
@media screen and (min-width: 801px) {
	.wrapper {
		max-width: 1200px;
	}

	header, footer {
	max-width: 1200px;
	}

	.landing-page {
	display: flex;
	}

	.content__box {
	text-align: left;
	flex: 0 1 50%;
	}

	.content__box:first-child {
	padding-right: 40px;
	}

	.button a {
		margin-left: 0;
		width: 200px;
	}

	.fa-brands, .fa-solid {
		font-size: 1.2rem;
		width: 40px;
		height: 40px;
		padding: 10px;
	}

	footer {
		justify-content: flex-end;
	}
}